.system-status {
    border: 1px solid var(--text-color);
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.status-list {
    list-style: none;
    padding: 0;
}

.status-item {
    padding: 5px 0;
    border-bottom: 1px solid var(--text-color);
    color:rgb(8, 213, 206);
}
 h4{color:rgb(10, 247, 239)}